.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-modal {
    --height: auto;
  }

  .custom-modal {
    --height: 80vh;
    --min-height: 80vh;
  }