/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


:root {
    --ion-color-primary:#F86F03;
    --card-bg-color: #fff;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --card-bg-color: #1e1e1e;
      --card-shadow-color: rgba(255, 255, 255, 0.1);
    }
  }


  ion-modal {
    align-items: flex-end; /* Align the modal at the bottom */
    justify-content: flex-end; /* Align the modal at the bottom */
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --bottom: 0; /* Ensure the bottom is at the screen bottom */
    --margin-bottom: 0; /* Remove any bottom margin */
    --top: auto; /* Override any top positioning */
  }
  
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }
  